@font-face {
    font-family: "art-font";   /*Can be any text*/
    src: local("ChalkHandLetteringShaded"),
      url("../fonts/ChalkHandLetteringShaded.ttf") format("truetype");
  }
.art-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: "art-font"; */
    font-size: 35px;
    color: white;
}